################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/*/bin
/*/obj
/MirChasov/obj
/MirChasov/obj/
*.generated.cs
*.cd
*.user
*.su
*.suo
