@{ 
    BaseBucket Bucket = ViewData["Bucket"] as BaseBucket;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(Bucket.Title ?? "Мир часов")</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row p-2 border-bottom align-items-center">
            <div class="col-md-4">
                <a href="/">
                    <img src="https://mirchasov64.ru/assets/img/logo1.png" alt="Мир часов" />
                </a>
            </div>
            <div class="col-md-8 d-flex">
                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="/Catalog">Каталог</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Блог</a>
                    <a class="py-2 text-dark text-decoration-none" href="#">Контакты</a>
                </nav>
            </div>
        </div>
    
        <div class="row m-1 p-1">
            @RenderBody()
        </div>

    </div>
</body>
</html>
